/*通用扑克牌设置*/
.card{
    width: 80px;
    height: 120px;
}
.face{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    pointer-events:none;
}

.front::after{
    content:'i';
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color:#fff;
    background-color: #000;
    width: 20%;
    height: 20%;
    border-radius:0 5px 0 10px ;
    pointer-events:auto;
}

.front{
    background: #999 url(../img/puker.png) 0 100%;
    background-repeat: no-repeat;
    background-size: 82px 122px;
    background-position: center;
}
.back{
    background: #efefef url(../img/puker.png) 0 100%;
}
/* background-position: 百分制;
等同于x：{容器(container)的宽度—背景图片的宽度}*x百分比，超出的部分隐藏。
等同于y：{容器(container)的高度—背景图片的高度}*y百分比，超出的部分隐藏。
*/
/*spade 黑桃A-K*/
.puker-spade1{background-image: url(../img/spades/A.gif);}
.puker-spade2{background-image: url(../img/spades/2.gif);}
.puker-spade3{background-image: url(../img/spades/3.gif);}
.puker-spade4{background-image: url(../img/spades/4.gif);}
.puker-spade5{background-image: url(../img/spades/5.gif);}
.puker-spade6{background-image: url(../img/spades/6.gif);}
.puker-spade7{background-image: url(../img/spades/7.gif);}
.puker-spade8{background-image: url(../img/spades/8.gif);}
.puker-spade9{background-image: url(../img/spades/9.gif);}
.puker-spade10{background-image: url(../img/spades/10.gif);}
.puker-spade11{background-image: url(../img/spades/J.gif);}
.puker-spade12{background-image: url(../img/spades/Q.gif);}
.puker-spade13{background-image: url(../img/spades/K.gif);}

/*heart 紅桃A-K*/
.puker-heart1{background-image: url(../img/hearts/A.gif);}
.puker-heart2{background-image: url(../img/hearts/2.gif);}
.puker-heart3{background-image: url(../img/hearts/3.gif);}
.puker-heart4{background-image: url(../img/hearts/4.gif);}
.puker-heart5{background-image: url(../img/hearts/5.gif);}
.puker-heart6{background-image: url(../img/hearts/6.gif);}
.puker-heart7{background-image: url(../img/hearts/7.gif);}
.puker-heart8{background-image: url(../img/hearts/8.gif);}
.puker-heart9{background-image: url(../img/hearts/9.gif);}
.puker-heart10{background-image: url(../img/hearts/10.gif);}
.puker-heart11{background-image: url(../img/hearts/J.gif);}
.puker-heart12{background-image: url(../img/hearts/Q.gif);}
.puker-heart13{background-image: url(../img/hearts/K.gif);}

/*Diamond 方片*/
.puker-diamond1{background-image: url(../img/diamonds/A.gif);}
.puker-diamond2{background-image: url(../img/diamonds/2.gif);}
.puker-diamond3{background-image: url(../img/diamonds/3.gif);}
.puker-diamond4{background-image: url(../img/diamonds/4.gif);}
.puker-diamond5{background-image: url(../img/diamonds/5.gif);}
.puker-diamond6{background-image: url(../img/diamonds/6.gif);}
.puker-diamond7{background-image: url(../img/diamonds/7.gif);}
.puker-diamond8{background-image: url(../img/diamonds/8.gif);}
.puker-diamond9{background-image: url(../img/diamonds/9.gif);}
.puker-diamond10{background-image: url(../img/diamonds/10.gif);}
.puker-diamond11{background-image: url(../img/diamonds/J.gif);}
.puker-diamond12{background-image: url(../img/diamonds/Q.gif);}
.puker-diamond13{background-image: url(../img/diamonds/K.gif);}


/*Club 梅花 A-K */
.puker-club1{background-image: url(../img/clubs/A.gif);}
.puker-club2{background-image: url(../img/clubs/2.gif);}
.puker-club3{background-image: url(../img/clubs/3.gif);}
.puker-club4{background-image: url(../img/clubs/4.gif);}
.puker-club5{background-image: url(../img/clubs/5.gif);}
.puker-club6{background-image: url(../img/clubs/6.gif);}
.puker-club7{background-image: url(../img/clubs/7.gif);}
.puker-club8{background-image: url(../img/clubs/8.gif);}
.puker-club9{background-image: url(../img/clubs/9.gif);}
.puker-club10{background-image: url(../img/clubs/10.gif);}
.puker-club11{background-image: url(../img/clubs/J.gif);}
.puker-club12{background-image: url(../img/clubs/Q.gif);}
.puker-club13{background-image: url(../img/clubs/K.gif);}

/*大小王*/
.puker-big-kingA{background-position: 8.333% 100%}
.puker-small-kingA{background-position: 16.667% 100%}
.puker-big-kingB{background-position: 25% 100%}
.puker-small-kingB{background-position: 33.333% 100%}